@import url('https://fonts.googleapis.com/css2?family=Macondo&family=Roboto:wght@300;400;500&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    background-color: rgb(32, 32, 56);
    color: white;
    overflow: hidden;
    position: relative;
}

::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-track {
    background: rgb(78, 78, 99); 
}
::-webkit-scrollbar-thumb {
    background: rgb(48, 48, 80);
}
::-webkit-scrollbar-thumb:hover {
    background: rgb(30, 30, 49);
}

.project-container {
    display: flex;
    flex-flow: column wrap;
    /* border: 2px solid red; */
    gap: 20px;
    justify-content: center;
    margin: 4rem 8rem;            
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Macondo', cursive;
}

.content {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    min-height: 720px;
}

.form {
    display: flex;
    flex-direction: column;
}

.form label {
    font-size: 1.1rem;
    padding-bottom: 0.8rem;
}

.form textarea {
    background-color: rgb(37, 37, 59);
    color: white;
    border: 1px solid rgb(167, 167, 189);
    padding: 1rem;
    border-radius: .5rem;
}

.form textarea::placeholder {
    color: rgb(94, 94, 110)
}

.prompt-buttons {
    display: flex;
    float: right;
    gap: .5rem;
}

.prompt-wrap button {
    width: 100px;
    height: 40px;
    align-self: flex-start;
    float: right;
    border-style: none;
    border-radius: 0.25rem;
    color: white;
    background-color: rgb(11, 160, 128);
    transition: all 0.2s ease-in-out;
}

.prompt-wrap #promptPreset {
    background-color: rgb(190, 139, 44);
}

.prompt-wrap button:hover {
    cursor: pointer;
    opacity: 60%;
}

.prompt-wrap button:active {
    opacity: 100%;
}

.container-responses {
    margin-top: 2rem;
    margin-bottom: 5rem;
}

.clear-responses-button {
    float: right;
    /* display: none; */
    width: 130px;
    height: 30px;
    align-self: flex-start;
    border-style: none;
    border-radius: 0.25rem;
    color: white;
    background-color: rgb(26, 151, 182);
    transition: all 0.2s ease-in-out;
}

.clear-responses-button:hover, .responseRemoveButton:hover, .tryButton:hover {
    cursor: pointer;
    opacity: 60%;
}

.clear-responses-button:active, .responseRemoveButton:active, .tryButton:active {
    opacity: 100%;
}

.responseRemoveButton {
    border: none;
    background-color: transparent;
    color: rgb(26, 151, 182);
    font-size: 1.5rem;
    padding: .25rem .5rem 0 0;            
}

.tryButton {
    background-color:transparent;
    font-weight: 500;
    text-decoration: underline;
    font-size: 0.95rem;
    border: none;
    border-radius: 0.2rem;
    padding: .30rem .75rem;
    margin: 0 0.5rem 1rem 0;
    color: rgb(26, 151, 182);
    transition: all 0.2s ease-in-out;
}


.responses-container {
    align-items: center;
    margin-top: 2.8rem;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 550px;
}

.responses-container div:first-child {
    animation: .6s linear fadein;
}

.responses-container div:last-child {
    display: none;
}

.response-box {
    background-color: rgb(23, 23, 46);
    min-width: 400px;
    max-width: 400px;
    max-height: fit-content;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
    border-radius: 0.5rem;
    
}


.response-box h2 {
    padding: 20px 20px 8px;
    margin: 0;
    font-size: 1.1rem;
    color: rgb(26, 151, 182);
}

.response-box pre {
    word-wrap: break-word;
    font-family: 'Roboto', sans-serif;
    padding: 0 20px 20px;
    margin: 0;
    font-size: 1rem;
}

.response-box button {
    float: right;
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Footer */
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 70px;
}

.footer-wrap ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    list-style-type: none;
}

.footer a {
    font-size: 1.1rem;
    color: white;
    text-decoration: none;
    transition: all .3s ease-in-out;
}

.footer a:hover {
    color: rgb(26, 151, 182);
    
}


@media only screen and (max-width: 600px) {
    body {
        overflow: auto;
    }

    .project-container {
        margin: 0 auto;
        /* max-width: 200px; */
    }

    .title {
        margin: 20px 0 0 0;
    }

    .content {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        min-height: 650px;
    }

    .response-box {
        min-width: 300px;
        max-width: 300px;
    }

    .form textarea {
        max-width: 18em;
        max-height: 12em;
    }

    .prompt-wrap button {
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: center;
        float: none;
    }
}
