<footer id="footer" class="footer">
    <!-- <hr class="divider-line"> -->
    <div class="footer-wrap">
      <h3>2022 | Developed and Designed by Zena Awada</h3>
      <ul>
        <li>
          <a
            class="social"
            href="https://www.linkedin.com/in/zenaawada/"
            target="_blank"
            ><i class="fa-brands fa-linkedin fa-xl link-hover"></i
          ></a>
        </li>
        <li>
          <a
            class="social"
            href="https://github.com/zenabawada"
            target="_blank"
            ><i class="fa-brands fa-github fa-xl link-hover"></i
          ></a>
        </li>
        <li>
          <a class="footer-link link-hover" href="#content">About</a>
        </li>
      </ul>
    </div>
  </footer>