<%- include('partials/head.ejs', {page: "Technical School & Coworking Space"}) %> 
    <div class="main-wrap">
        <!-- site header -->
        <%- include('partials/header.ejs') %> 
        <!-- end site header -->

        <!-- main content -->
        <div id="content">
            <article class="project-grid">
                <!-- header -->
                <header class="project-page-header">
                    <h1 class="projects-title">Technical School / Coworking Space</h1>
                    <p>Architectural project in a Sao Paulo quarter</p>
                </header>
                
                <div class="project-page">
                    <img class="project-image" src="images/TechSchool/A1 COLORIDA - 01.jpg"/>
                    <img class="project-image" src="images/TechSchool/A1 COLORIDA - 02.jpg"/>
                    <img class="project-image" src="images/TechSchool/A1 COLORIDA - 03.jpg"/>
                    <img class="project-image" src="images/TechSchool/A1 COLORIDA - 04.jpg"/>
                    <img class="project-image" src="images/TechSchool/A1 COLORIDA - 05.jpg"/>
                </div>
            </article>
        </div>
        <!-- end main content -->
        
        <!-- footer -->
        <%- include('partials/footer.ejs') %> 
    </div>
<%- include("partials/foot.ejs") %> 