.cart {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cart-item {
    width: 700px;
    height: 250px;
    display: flex;
    align-items: center;
    border: solid 1px lightgrey;
    border-radius: 10px;
    margin: 30px;
}

.cart-item img {
    width: 200px;
}

.cart-item .description {
    width: 100%;
    font-size: 1.75rem;
}

.count-handler input {
    width: 40px;
    text-align: center;
    font-weight: 600;
}

.checkout button {
    width: 150px;
    height: 50px;
    background-color: rgb(19, 19, 19);
    color: white;
    border: none;
    border-radius: 8px;
    margin: 10px;
    cursor: pointer;
}