.cart {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 3rem;
    align-items: center;
    min-height: 100vh;
}

.cart h1 {
    font-size: 1.5rem;
}

.cart-item {
    width: fit-content;
    min-width: 15vw;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: solid 1px lightgrey;
    margin: 30px;
    gap: 1.5rem;
    /* padding-right: 6rem; */
}


.cart-item>a {
    width: 50%;
    height: auto;
}

.cart-item img {
    width: 200px;
}

.cart-item .description {
    width: fit-content;
    font-size: 1.75rem;
    overflow-x: visible;
    padding-right: 3rem;
}

.count-handler {
    display: flex;
    height: 2rem;
}

.count-handler input {
    width: 40px;
    text-align: center;
    font-weight: 600;
    border: none;
}

.count-handler button {
    background-color: black;
    color: white;
    cursor: pointer;
    width: 2rem;
    border: none;
    border-radius: 8px
}

.checkout button {
    width: 150px;
    height: 50px;
    background-color: rgb(19, 19, 19);
    color: white;
    border: none;
    border-radius: 10px;
    margin: 10px;
    cursor: pointer;
}

.checkout p {
    font-size: 1.25rem;
}

.description {
    display: flex;
    flex-flow: column wrap;
    gap: 1rem;
    align-items: flex-start;
}

.description p {
    color: black;
    margin: 0;
    text-align: start;
    white-space: nowrap;
}


.cart-item__size {
    font-size: 1.25rem;
}

.cart-item__size span {
    padding-left: 0.25rem;
}


@media only screen and (max-width: 600px) {
    .cart-item {
        padding: 0;
        flex-flow: column wrap;
        margin: 30px 10px;
        width: 85vw;
        gap: 0;
    }

    .cart-item a {
        width: 100%;
    }

    .cart-item img {
        width: 90%;
        height: 30vh;
        object-fit: cover;
    }

    .cart-item .description {
        width: 100%;
        align-items: center;
        justify-content: center;
        padding-right: 0;
    }

    .description {
        align-items: center;
        margin-bottom: 2rem;
    }

    .description p {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}