<%- include('partials/head.ejs', {page: "Camumu Sushi"}) %> 
    <div class="main-wrap">
        <!-- site header -->
        <%- include('partials/header.ejs') %> 
    <!-- end site header -->

        <!-- main content -->
        <div id="content" class="content">
            <article class="project-grid">
                <!-- header -->
                <header class="project-page-header">
                    <h1 class="projects-title">Camumu Sushi</h1>
                    <p>UI project made for Camumu Sushi using Photoshop, Illustrator and AdobeXD</p>
                </header>
                

                    <div class="project-page flex-row">
                        <img class="project-image" src="images/CamumuSushi/LogoSketch.jpg"/>
                        <img class="project-image" src="images/CamumuSushi/LogoIteration.jpg"/>                    
                    </div>

                    <div class="project-page flex-column">
                        <img class="project-image-column" src="images/CamumuSushi/CorporateStationeryMockup.jpg"/>
                    </div>
                    

                    <div class="project-page flex-row">
                        <img class="project-image" src="images/CamumuSushi/Moodboard_01.jpg"/>
                        <img class="project-image" src="images/CamumuSushi/Moodboard_02.jpg"/>
                    </div>

                    <div class="project-page flex-column">
                        <img class="project-image-column" src="images/CamumuSushi/HomePage.png"/>
                    </div>

                    <div class="project-page flex-row ">
                        <img class="project-image mobile-image" src="images/CamumuSushi/OrderPageMobile.png"/>
                        <img class="project-image mobile-image" src="images/CamumuSushi/SushiMobile.png"/>
                    </div>

                    <div class="project-page flex-column">
                        <img class="project-image-column" src="images/CamumuSushi/OrderPageSalad.png"/>
                    </div>
                
            </article>
        </div>
        <!-- end main content -->
        
        <!-- footer -->
        <%- include('partials/footer.ejs') %> 
    </div>
<%- include("partials/foot.ejs") %> 