@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

body {
    font-family: 'Roboto Mono', monospace;
    background-color: rgb(3, 12, 34);
    color: white;
}

section {
    padding-top: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#age {
    width: 60px;
    height: 2.25rem;
    font-family: 'Roboto Mono', monospace;
    font-size: 1.25rem;
    text-align: center;
}

#submit {
    background-color: rgb(233, 38, 64);
    border: none;
    height: 2rem;
    width: 5rem;
    border-radius: 0.25rem;
    color: white;
}

#submit:hover {
    cursor: pointer;
    opacity: 0.8;
}