:root {
  box-sizing: border-box;
  --main-colour: rgb(219, 23, 98);

  --fs-top-heading: 2.5rem;
  --fs-sub-heading: 1.8rem;
  --fs-body: 1rem;
  --fs-menu: 1.4rem;
  --fs-nav: 1.1rem;
}

html {
  scroll-behavior: smooth;
  font-family: Verdana, Geneva, Tahoma, sans-serif;

}

body {
  margin: 0;
}

/* Logo style*/
.logo {
  height: 120px;
}

.header {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
}

/* Navigation bar syle*/
.topnav {
  overflow: hidden;
  font-size: var(--fs-nav)
}

.topnav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #1c0a0f;
}

.topnav ul a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 1rem 1.75rem;
  text-decoration: none;
}

.topnav li a:hover {
  background-color: #40141d;
}

.topnav .nav-icon {
  display: none;
}

/* Home Hero Style */
.hero-index {
  background: url("../images/Cheesecake_01.jpg") center;
  background-size: cover;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  align-items: center;
  padding: 8rem 5rem;
}

/* Home Gallery Styles */
.gallery {
  padding: 0rem 2rem 2rem 2rem;
}

.gallery ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
  gap: 1rem;
  list-style-type: none;
  padding: 0;
}

.gallery ul li {
  border: 1px solid grey;
  border-radius: 0.5rem;
}

.gallery ul li figure {
  display: flex;
  align-items: center;
  max-height: 13.75rem;
  overflow: hidden;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  position: relative;
  margin: 0;
}

.gallery ul li figure img {
  width: 100%;

}

.gallery ul li p {
  font-size: var(--fs-body);
  line-height: 1.5;
  padding: 1rem 0.75rem;
}

/* Home highlighted text*/
.content {
  font-size: var(--fs-sub-heading);
  text-align: center;
  max-width: 70rem;
  margin: 0 auto;
  padding: 6rem;
}

/* Menu Hero Style */
.hero-menu-index {
  background: url("../images/Cheesecake_04_smaller.jpg") center;
  background-size: cover;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  align-items: center;
  padding: 8rem 5rem;
}

/* Drinks Hero Style */
.hero-drinks-index {
  background: url("../images/Coffee_01.jpg") center;
  background-size: cover;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  align-items: center;
  padding: 8rem 5rem;
}

/* Menu style */
.menu-section {
  height: 500px;
}

.menu-container {
  display: flex;
  flex-direction: column;
  width: fit-content;
  padding: 2rem;
  margin: 3rem auto;
  border: 2px solid lightgrey;
  border-radius: 1rem;
  font-size: var(--fs-menu);
}

.menu-container ul {
  padding-inline-start: 0;
  justify-content: space-around;
  margin: 0 auto;
}

.menu-container div {
  width: 15rem;
  margin: 5px 0;
  text-align: center;
}

.menu-item {
  display: flex;
  justify-content: space-around;
}


.food-price {
  color: var(--main-colour);
}

.menu-item :nth-child(2n+1) {
  width: 15rem;
  text-align: left;
}


.menu-item :nth-child(2n+2) {
  width: 12rem;
  text-align: right;
}

/* Contact form style */
input[type="text"],
select,
textarea {
  width: 100%;
  padding: 0.75rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  resize: vertical;
}

input[type="submit"] {
  background-color: lightgrey;
  color: black;
  padding: 0.75rem 1.25rem;
  border: none;
  border-radius: 0.25rem;
}

.contact-form {
  border-radius: 0.25rem;
  background-color: #f2f2f2;
  padding: 1.25rem;
}

.contact-form ::placeholder,
.contact-form select {
  font-size: var(--fs-body);
}

.contact-form .submit {
  cursor: pointer;
  font-size: var(--fs-body);
  background: rgb(70, 226, 161);
}

.submit:hover {
  opacity: 0.8;
}

.contact {
  display: block;
  padding: 1.25rem;
  max-width: 50rem;
  margin: 0 auto;
}

/* Restaurant location style */
.contact h2 {
  font-size: var(--fs-sub-heading);
}

.title h2 {
  padding-top: 30px;
  font-size: var(--fs-sub-heading);
}

.title p {
  font-size: var(--fs-sub-heading);
  text-align: center;
  padding-bottom: 0.75rem;
  padding-top: 0.75rem;
}

.location {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  padding-bottom: 1.25rem;
}

.contact aside,
h2 {
  text-align: center;
}

/* Footer style */
footer {
  display: flex;
  background-color: rgb(19, 19, 19);
  color: white;
  font-size: var(--fs-body);
  align-items: center;
  justify-content: center;
}

/* Media screen queries */
@media screen and (max-width: 600px) {
  .topnav ul a {
    display: none;
  }
  .topnav ul a.nav-icon {
    float: right;
    display: block;
  }

  .content {
    font-size: var(--fs-menu);
    padding: 4.5rem 3.25rem;
    text-align: center;
    max-width: 30rem;
    margin: 0 auto;
  }

  .gallery {
    padding: 0rem 1rem 1rem 1rem;
  }

  .menu-container {
    font-size: var(--fs-body);
    grid-template-columns: 13.75rem auto;
    margin: 5rem auto;
    padding: 1.5rem;
  }

  .menu-container div {
    max-width: 11.25rem;
  }

  .menu-item :nth-child(2n+2) {
    width: 5.5rem;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {
    position: relative;
  }
  .topnav.responsive .nav-icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive ul a {
    float: none;
    display: block;
    text-align: left;
  }
}
