.footer {
    background-color: black;
    display: flex;
    justify-content: space-between;
    padding: 0 5rem;
    height: 3rem;
}

.footer-text {
    color: white;
    display: flex;
    align-items: center;
}

.footer-text h2 {
    font-size: 0.9rem;
    font-weight: 400;
}

.shop-logo-footer {
    margin-left: 0;
    display: flex;
    align-items: center;
}

.shop-logo-footer a {
    text-decoration: none;
    color: white;
    font-size: 1.25rem;
    font-family: 'Unbounded', cursive;
}

.shop-logo-footer h1 {
    font-size: 1rem;
}

/* Mobile */
@media only screen and (max-width: 600px) {
    .footer {
        width: 100%;
        padding: 0;
        justify-content: space-around;
    }
}

/* Tablet */
@media (min-width: 768px) and (max-width: 1024px) {
    .footer {
        padding: 0 1.5rem;
    }
}