@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400&family=Roboto:wght@300;400&display=swap');

:root {
    --main-color: rgb(255, 194, 82);
}

* {
    color: white;
    text-decoration: none;
    list-style-type: none;
    font-family: 'Lato', 'Roboto', 'Geneva', sans-serif;
    padding: 0;
    
}

body {
    scroll-behavior: smooth;
    background-color: rgb(21, 24, 36);
    margin: 0;
}

.main-wrap {
    margin: 0 auto;
    align-items: center;
    position: relative;
    min-height: 100vh;
}

.projects-title, .site-title {
    font-weight: 400;
}

/* nav container */
header {
    max-width: 1200px;
    margin: 0 auto;
}

.logo {
    display: flex;
    flex-direction: column;    
    margin: 0;
    line-height: 1.5rem;
    font-size: 2rem;
    text-transform: uppercase;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}

.mobile-nav-icon {
    display: none;
}

.site-nav-container {
    display: flex;
    padding: 2rem;
    align-items: center;
    justify-content: space-between;
    margin: 0 2rem;
}

.nav-list {
    display: flex;
    overflow: hidden;
    justify-content: flex-end;
    align-items: flex-end;
}

.nav-list li a {
    padding-left: 40px;
}

.nav-item {
    font-size: 1.1rem;
    font-weight: 400;
}

.nav-list a {
    font-family: 'Lato', sans-serif;
}

/* content container */
.project-grid {
    max-width: 1000px;
    margin: 0 auto;
    padding: 5rem 0;
    align-items: center;
    justify-content: center;
}

.projects-header, .site-header {
    display: flex;
    justify-content: center;
    padding: 0 0 30px 0;
    font-size: 20px;
}

.project-page-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.project-page-header h1 {
    font-size: 1.5rem;
}

.project-page-header p {
    margin: 0 0 4rem 0;
    font-size: 1.2rem;
    max-width: 500px;
}

.project-page {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding-bottom: 1rem;
    justify-content: center;
}

.project-image {
    max-width: 600px;
    margin: 0 auto;
}

.project-image-column {
    max-width: 1000px;
}

.page-grid {
    max-width: 1000px;
    margin: 0 auto;
    padding-bottom: 2rem;
}

.flex-row {
    flex-direction: row;
}

.flex-column {
    flex-direction: column;
    max-width: 1000px;
}

.mobile-image {
    margin: 0;
}


.projects-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.projects-list {
    display: flex;
    flex-wrap: wrap;
    gap: 3rem 1.5rem;
    justify-content: center;
    margin: 2rem 2rem 10rem 2rem;    
}

.project {
    border: 1px solid white;
    border-radius: 0.75rem;
    max-width: 400px;
    transition: all .3s ease-in-out;
    padding-bottom: 10px;
    padding: 1.5rem;
}

.project:hover {
    transform: translateY(-.3rem);
    border-color: var(--main-color);
}

.thumbnail {
    /* border: 1px solid burlywood; */
    display: flex;
    align-items: center;
    overflow: hidden;
    position: relative;
    margin: 0;
    max-height: 100%;

}

.project-thumbnail {
    border-radius: 0.75rem;
    width: 100%;    
}

.project-title, .caption {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    /* border: 1px solid red; */
    margin: 0;
}

.project-title {
    font-size: 1.2rem;
    padding-top: 1rem;
}

.caption {
    font-size: 1rem;
    padding-top: 0.5rem;
}

/* footer */
.footer {
    display: flex;
    width: 100%;
    background-color: rgb(40, 45, 68);
    align-items: center;
    flex-direction: row;
    justify-content: flex-start;
    position: absolute;
    bottom: 0;
    width: 100%;
    /* height: 2.5rem; */

}

.footer-wrap {
    padding-left: 5rem;
}

.footer-wrap ul {    
    align-items: center;
    display: flex;
    flex-direction: row;
    padding: 1rem;
    gap: 1.5rem;
    max-width: 1200px;
}

.link-hover {
    color: white;
    transition: .3s ease-in-out;
}

.link-hover:hover{
    color: var(--main-color);
}

.footer-link {
    font-size: 1.2rem;
    font-weight: 400;
}

/* ABOUT SITE STYLE */
.about-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    max-width: 50rem;
    margin: 0 auto;
    padding: 0 0 10rem 0;
}

.about-text {
    max-width: 600px;
}

.about-container p {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 1.2rem;
}

.about-picture {
    width: 15rem;
    border-radius: 50%;
    margin: 2rem;
}

.about-hr {
    width: 50%;
    height: 1px;
    border: none;
    background-color: rgb(255, 194, 82);
    margin: 3rem 0 1.5rem;
}

.about-container ul {
    display: flex;
    gap: .5rem;
}

.about-container ul li a {
    font-size: 1.1em;
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-decoration-color: white;
    transition: all 0.3s ease-in-out;
}

.about-container ul li a:hover {
    color: var(--main-color);
    text-decoration-color: var(--main-color);
}

.about-container ul li:not(:first-of-type):before {
    content: ' / ';
    margin-right: .5rem;
}

/* media screen queries */
@media only screen and (max-width: 680px) {
    body {
        /* display: flex; */
        max-width: 1000px;
        scroll-behavior: smooth;
    }

    .projects-header, .site-header {
        padding: 0;
    }

    .site-nav-container {
        padding: 1.5rem 0 0 0;
        flex-direction: row-reverse;
        align-items: stretch;
        display: flex;
        margin: 0;
    }

    #site-logo {
        align-items: center;
        justify-content: center;
        padding-top: 1.8rem;

    }

    .logo {
        max-height: 100px;
        font-size: 1.5rem;
        line-height: 1.1rem;
        align-items: flex-end;
        padding-right: 20px;
    }

    /* responsive nav */
    .nav {
        padding-top: 1rem;
    }

    .nav-list a {
        display: none;
    }

    .nav-list .mobile-nav-icon {
        display: block;
        padding: 0;
        padding-bottom: 0.1rem;
        margin-left: 20px;
        font-size: 1.5rem;
    }

    .nav-list {
        display: block;
        flex-direction: column-reverse;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: stretch;
    }

    .nav-list.responsive li:not(:first-of-type){
        position: relative;
        justify-content: flex-start;
        background-color: rgb(29, 33, 48);
        border-bottom: 1px solid var(--main-color);
    }

    .nav-list.responsive li:not(:first-of-type):active {
        background-color: rgb(49, 69, 107);
    }

    .nav-list.mobile-nav-icon.responsive{
        position: absolute;
        left: 0;
        top: 0;
    }

    .nav-list li a {
        padding: 10px 20px 10px 10px;
    }

    .nav-list.responsive a {
        margin-left: 20px;
        margin-right: 50px;
        float: none;
        display: block;
        text-align: left;
    }

    .project-grid {
        margin: 0 auto;
        padding: 3rem 0;
    }

    .project {
        padding: 0 0 24px 0;
    }

    .project-title a, .caption {
        padding: 0.5rem;
        margin: 0 10px;
    }

    .projects-title, .site-title {
        padding-top: 0.75rem;
        font-size: 1.5rem;
    }

    .projects-list {
        margin: 2rem 1.4rem 10rem 1.4rem;
    }

    .project-thumbnail {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }

    .about-picture {
        width: 60%;
    }

    .about-text {
        max-width: 500px;
        margin: 0 32px;
    }

    .about-text p{
        font-size: 1.1rem;
        line-height: 1.6rem;
    }
    
    .about-list li {
        font-size: 1rem;
    }

    .project-page {
        /* max-width: 300px; */
        margin: 0 auto;
    }

    .content {
        padding-bottom: 7rem;
        width: 100%;
        margin: 0 auto;
    }

    .flex-row, .flex-column {
        flex-direction: column;
        padding: 12px;
    }

    .project-image, .project-image-column {
        /* max-width: 300px; */
        margin: 0 1rem;
    }

    .project-page-header {
        padding: 0 30px;
        min-width: 250px;
    }

    .project-page-header h1 {
        font-size: 1.4rem;
    }

    .project-page-header p {
        font-size: 1.1rem;
        margin: 0 0 2.5rem 0;
}
    }
}

@media only screen and (min-width: 680px) and (max-width: 1100px) {
    .flex-row, .flex-column {
        flex-direction: column;
        padding: 12px;
    }

    .project-image, .project-image-column {
        max-width: 600px;
        margin: 0 auto;
    }

    .content {
        padding-bottom: 7rem;
        width: 100%;
    }
}