.product-details {
    display: flex;
    justify-content: center;
    margin: 5% 10%;
    gap: 5%;
}

.product-details img {
    max-width: 600px;
    border: solid 1px var(--container-color);
}

.p-details {
    display: flex;
    flex-flow: column wrap;
    align-items: flex-start;
}

.p-details h1 {
    font-family: 'Unbounded', cursive;
    text-transform: uppercase;
    font-weight: 900;
}

.product-size-options {
    width: 100%;
}

.product-size-header {
    display: flex;
    justify-content: space-between;
}

.size-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(70px, 1fr));
    list-style-type: none;
    padding-left: 0;
    gap: 0.5rem;
}

.single-size-wrapper {
    border: 1px solid var(--container-color);
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.single-size-wrapper li {
    pointer-events: none;
}

.single-size-wrapper:hover {
    background-color: black;
    color: white;
    cursor: pointer;
}

.single-size-wrapper:active {
    background-color: black;
    color: white;
    font-weight: 600;
}

.size-clicked {
    background-color: black;
    color: white
}